$susy: (
  columns: 12,
  gutters: 0.2,
  //gutter-position: inside,
  global-box-sizing: border-box,
  flow: susy-get(flow)
  //output: isolate
);
/*break points*/
$bp-mobile: 320px; 
$bp-tablet: 600px;
$bp-desktop: 780px;

$main-width: 940px;


//header{
//    .search-form{
//        
//        
//        .search-icon{
//            
//            @include span(1 of 10);
//            
//        }
//        .header-search{
//            @include span(9 at 2 of 10);
//            float: right;
//            margin-top: 7px;
//        }
//        
//    }
//}

header{
    .search-form{
        
        
        .search-icon{
            
            
            
        }
        .header-search{
            padding-right: 5px;
        }
        
    }
}

//home-page sliders@@@@@@@@@@@@@@@@@@@@@@@

.owl-main-rtl{
        position: relative;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            color: #c4c2c2;
            margin-top: 25px;
            height: 0px;
            position: absolute;
            width: 100%;
            top: 5%;
            @include breakpoint($tablet){
                top: 30%;
            }
            @include breakpoint($laptop){
                top: 35%;
            }
            .owl-next{
                float: right;
                background-color: transparent;
            }
            .owl-prev{
                float: left;
                background-color: transparent;
            }
            i{
                padding: 0px 20px;
            }
        }
        .item{
            position: relative;
            
            
            .main-hidden-movies-buttons{
                
                display: none;
                position: absolute;
                top: 8px;
                left: 110px;
                font-size: 13px;
                @include breakpoint($tablet){
                    top: 80px;
                    left: 330px;
                }
                @include breakpoint($laptop){
                    top: 120px;
                    left: 450px;
                    
                }
                @include breakpoint($desktop){
                    top: 150px;
                    left: 550px;
                    
                }
                @include breakpoint(1366px){
                    top: 180px;
                    left: 620px;
                    
                }
                text-align: center;
                button{
                    width: 100px;
                    @include breakpoint($tablet){
                    width: 100px;
                }
                    height: 20px;
                    background-color: $primary-fcolor;
                    border: none;
                    a{
                        color: $fifth-fcolor;
                        
                    }
                }
                input{
                  width: 100px;
                    @include breakpoint($tablet){
                    width: 100px;
                }
                    height: 20px;
                    background-color: $primary-fcolor;
                    border: none;  
                }
                a{
                    color: $fourth-fcolor;
                    
                }
            }
        }
    }

.home-slider-rtl{
        position: relative;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            padding: 0px;
            position: absolute;
            width: 100%;
            height: 0px;
            top: 0%;
            
            color: #c4c2c2;
            
            
            
        
            .owl-next, .owl-prev{
                height: 160px;
                @include breakpoint($tablet){
                    height: 203px;
                }
                @include breakpoint($laptop){
                    height: 103px;
                }
                @include breakpoint($desktop){
                    height: 128px;
                }
                @include breakpoint(1366px){
                    height: 142px;
                }
                
                padding-top: 50px;
                @include breakpoint($tablet){
                    padding-top: 80px;
                }
                @include breakpoint($laptop){
                    padding-top: 30px;
                }
                @include breakpoint($desktop){
                    padding-top: 45px;
                }
                padding-right: 5px;
                padding-left: 5px;
                &:hover{
                    background-color: $sec-fcolor;
                    opacity: 0.5;
                }
            }
            .owl-next{
                float: right;
                background-color: transparent;
            }
            .owl-prev{
                float: left;
                background-color: transparent;
            }
        }
    }

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.plus{
        background-color: $sec-fcolor;
        padding: 5px;
        font-size: 9px;
        margin-right: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 90px;
            margin-bottom: 0px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/plus.png") no-repeat 5% 50% !important;
    }

.minus{
        background-color: $sec-fcolor;
        
        padding: 5px;
        font-size: 9px;
        margin-right: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 90px;
            margin-bottom: 0px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/minus.png") no-repeat 5% 50% !important;
    }
//movie@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

//series-details@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.fa-share{
    transform: rotateY(180deg);
}

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.similar-titles{
    h5{
        padding-right: 70px !important;
    }
}
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.base-elements{
    
    .elements-selects{
        
        .en-ar{
                font-size: 8px ;
                height: 20px ;
                width: 80px ;
                -webkit-appearance: none;
                padding: 2px;

                color: $primary-fcolor;
                background: $sec-fcolor url("img/plus.png") no-repeat 5% 50% !important;

                option{
                    background-color: $sixth-fcolor;

                }
            }
       
        .minus-en-ar{
                font-size: 8px ;
                height: 20px ;
                width: 80px ;
                -webkit-appearance: none;
                padding: 2px;

                color: $primary-fcolor;
                background: $sec-fcolor url("img/minus.png") no-repeat 5% 50% !important;

                option{
                    background-color: $sixth-fcolor;

                }
        }
    }
    
    .elements-forms{
        .active{
            .active-with-button{
    
                button{
                    
                    right: 168px !important;
                    
                }
                
            }   
        }
        
        .correct{
            .correct-with-button{
                
                button{
                   
                    right: 128px !important;
                    
                }
            }
        }
        
        .error{
            .error-with-button{
                
                button{
                   
                    right: 168px !important;
                    
                }
            }
        }
    }
}












