$susy: (
  columns: 12,
  gutters: 0.2,
  //gutter-position: inside,
  global-box-sizing: border-box,
  flow: susy-get(flow)
  //output: isolate
);
/*break points*/
$bp-mobile: 320px; 
$bp-tablet: 600px;
$bp-desktop: 780px;

$main-width: 940px;


//header{
//    .search-form{
//        
//        
//        .search-icon{
//            
//            @include span(1 of 10);
//            
//        }
//        .header-search{
//            @include span(9 at 2 of 10);
//            float: right;
//            margin-top: 7px;
//        }
//        
//    }
//}

header{
    .search-form{
        
        
        .search-icon{
            
            
            
        }
        .header-search{
            padding-right: 5px;
        }
        
    }
}

//home-page sliders@@@@@@@@@@@@@@@@@@@@@@@

.owl-main-rtl, .home-slider-rtl{

        position: relative;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            color: #c4c2c2;
            padding: 25px;
            position: absolute;
            width: 100%;
            top: 5%;
            @include breakpoint($tablet){
                top: 30%;
            }
            @include breakpoint($laptop){
                top: 35%;
            }
            .owl-next{
                float: right;
                background-color: transparent;
            }
            .owl-prev{
                float: left;
                background-color: transparent;
            }
        }
    }

.home-slider-rtl{
        
        
        .owl-nav{
            
            padding: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            .owl-next, .owl-prev{
                height: 86%;
                @include breakpoint($tablet){
                    height: 90%;
                }
                @include breakpoint($laptop){
                    height: 81%;
                }
                @include breakpoint($desktop){
                    height: 86%;
                }
                
                padding-top: 50px;
                @include breakpoint($tablet){
                    padding-top: 80px;
                }
                @include breakpoint($laptop){
                    padding-top: 30px;
                }
                @include breakpoint($desktop){
                    padding-top: 45px;
                }
                padding-right: 5px;
                padding-left: 5px;
                &:hover{
                    background-color: $sec-fcolor;
                    opacity: 0.5;
                }
            }
        }
    }

//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.plus{
        background-color: $sec-fcolor;
        padding: 5px;
        font-size: 9px;
        margin-right: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 90px;
            margin-bottom: 0px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/plus.png") no-repeat 5% 50% !important;
    }

.minus{
        background-color: $sec-fcolor;
        
        padding: 5px;
        font-size: 9px;
        margin-right: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 90px;
            margin-bottom: 0px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/minus.png") no-repeat 5% 50% !important;
    }

.movie-sort{
    padding-right: 70px !important;
    .featured-list{
        left: 200px !important;
        @include breakpoint($tablet){
            left: 267px !important;
        }
        @include breakpoint($laptop){
            left: 360px !important;
        }
        @include breakpoint($desktop){
            left: 443px !important;
        }
        @include breakpoint(1366px){
            left: 503px !important;
        }
    }
    .a-z-list{
        left: 157px !important;
        @include breakpoint($tablet){
            left: 202px !important;
        }
        @include breakpoint($laptop){
            left: 268px !important;
        }
        @include breakpoint($desktop){
            left: 326px !important;
        }
        @include breakpoint(1366px){
            left: 368px !important;
        }
    }
    .just-added-list{
        left: 80px !important;
        @include breakpoint($tablet){
            left: 95px !important;
        }
        @include breakpoint($laptop){
            left: 133px !important;
        }
        @include breakpoint($desktop){
            left: 168px !important;
        }
        @include breakpoint(1366px){
            left: 192px !important;
        }
    }
    .top-list{
        left: 35px !important;
        @include breakpoint($tablet){
            left: 40px !important;
        }
        @include breakpoint($laptop){
            left: 52px !important;
        }
        @include breakpoint($desktop){
            left: 62px !important;
        }
        @include breakpoint(1366px){
            left: 70px !important;
        }
    }
}

.similar-titles{
    h5{
        padding-right: 70px !important;
    }
}
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.base-elements{
    
    .elements-selects{
        
        .en-ar{
                font-size: 8px ;
                height: 20px ;
                width: 80px ;
                -webkit-appearance: none;
                padding: 2px;

                color: $primary-fcolor;
                background: $sec-fcolor url("img/plus.png") no-repeat 5% 50% !important;

                option{
                    background-color: $sixth-fcolor;

                }
            }
       
        .minus-en-ar{
                font-size: 8px ;
                height: 20px ;
                width: 80px ;
                -webkit-appearance: none;
                padding: 2px;

                color: $primary-fcolor;
                background: $sec-fcolor url("img/minus.png") no-repeat 5% 50% !important;

                option{
                    background-color: $sixth-fcolor;

                }
        }
    }
    
    .elements-forms{
        .active{
            .active-with-button{
    
                button{
                    
                    right: 168px !important;
                    
                }
                
            }   
        }
        
        .correct{
            .correct-with-button{
                
                button{
                   
                    right: 128px !important;
                    
                }
            }
        }
        
        .error{
            .error-with-button{
                
                button{
                   
                    right: 168px !important;
                    
                }
            }
        }
    }
}












