//susy configurations
$susy: (
  columns: 12,
  gutters: 0.2,
  //gutter-position: inside,
  global-box-sizing: border-box,
  //output: isolate
);




/*Start Adv. layout@@@@@@@@@@@@@@@@@@@@@@*/

/*End Adv. layout@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start header layout  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
header{
    
    img{
        @include breakpoint($tablet){
    @include span(1 of 20);
    }
    }
    .header-nav{
        @include breakpoint($tablet){
        @include span(6 at 2 of 20);
        }
        li{
            @include breakpoint($tablet){
            @include span(1 of 7);
            }
        }
    }
    .search-form{
        @include breakpoint($tablet){
        @include span(6 at 8 of 20);
        }
    }
    .profile-nav{
        @include breakpoint($tablet){
        @include span(6 at 15 of 20);
        }
        
        li{
            @include breakpoint($tablet){
            &:first-child{
                @include span(1 of 4);
            }
            &:nth-child(2){
                @include span(1 at 2 of 4);
            }
            &:nth-child(3){
                @include span(1 at 3 of 4);
            }
            &:last-child{
                @include span(1 at 4 of 4);
            }
        }
        }
    }
}

/*End header layout  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*Start home-page layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.movies-lists{
    
    ul{
        li{
            &:nth-of-type(1){
                @include span(1 of 5);
            }
            &:nth-of-type(2){
                @include span(1 at 2 of 5);
            }
            &:nth-of-type(3){
                @include span(1 at 3 of 5);
            }
            &:nth-of-type(4){
                @include span(1 at 4 of 5);
            }
            &:nth-of-type(5){
                @include span(1 at 5 of 5);
            }
        }
    }
}

/*End home-page layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start movies layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.movie-sort{
    
    div{
        
        &:first-child{
            @include span(1 of 2);
            @include breakpoint($tablet){
                @include span(1 of 3);
            }
            @include breakpoint($laptop){
                @include span(1 of 4);
            }
            
        }
        &:last-child{
            @include span(1 at 2 of 2);
            @include breakpoint($tablet){
                @include span(1 at 3 of 3);
            }
            @include breakpoint($laptop){
                @include span(1 at 4 of 4);
            }
        }
    }
}

/*End movies layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start movies layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.movie-details{
    
    
    
        .movie-video{
            @include breakpoint($tablet){
            @include span(1 of 2);
            }
            .movie-team{
                ul{
                        &:nth-of-type(1){
                            
                            @include span(1 of 2);
                            
                        }
                        &:nth-of-type(2){
                            
                            @include span(1 at 2 of 2);
                            
                        }
                    }
                .movie-cast{
                    
                    @include breakpoint($tablet){
                    @include span(1 of 2);
                    }
                    @include breakpoint($laptop){
                    @include span(1 of 3);
                    }
                    
                }
                .movie-producers{
                   
                    @include breakpoint($tablet){
                    @include span(1 at 2 of 2);
                    }
                     @include breakpoint($laptop){
                    @include span(1 at 2 of 3);
                    }
                }
                .movie-directors{
                    
                    @include breakpoint($tablet){
                    @include span(1 of 2);
                    }
                    @include breakpoint($laptop){
                    @include span(1 at 3 of 3);
                    }
                }
            }
        }
        .movie-description{
            @include breakpoint($tablet){
            @include span(1 at 2 of 2);
            }
        }
    
}

/*End movies layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start series-details layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.series-sort{
    div{
        
        &:first-child{
            @include span(1 of 2);
            @include breakpoint($tablet){
                @include span(1 of 3);
            }
            @include breakpoint($laptop){
                @include span(1 of 4);
            }
        }
        &:last-child{
            @include span(1 at 2 of 2);
            @include breakpoint($tablet){
                @include span(1 at 3 of 3);
            }
            @include breakpoint($laptop){
                @include span(1 at 4 of 4);
            }
        }
    }
}

.series{
    
   
        .ep{
            @include breakpoint($tablet){
                @include span(1 of 4);
            }
        }
        .series-details{
            @include breakpoint($tablet){
                @include span(2 at 2 of 4);
            }
            .series-team{
                
                .cast{
                    
                    
                    ul{
                        &:first-child{
                            @include span(1 of 2);
                        }
                        &:nth-child(2){
                            @include span(1 at 2 of 2);
                        }
                    }
                    @include breakpoint($tablet){
                        @include span(1 of 2);
                    }
                }
                
                .producers{
                    
                    ul{
                        &:first-child{
                            @include span(1 of 2);
                        }
                        &:nth-child(2){
                            @include span(1 at 2 of 2);
                        }
                    }
                    @include breakpoint($tablet){
                        @include span(1 at 2 of 2);
                    }
                }
                .directors{
                    ul{
                        &:first-child{
                            @include span(1 of 2);
                        }
                        &:nth-child(2){
                            @include span(1 at 2 of 2);
                        }
                    }
                    @include breakpoint($tablet){
                        @include span(1  at 1 of 2);
                    }
                }
                
                
        }
        }
        .series-adv{
            @include breakpoint($tablet){
                @include span(1 at 4 of 4);
            }
        }
    }
    
.related-titles{
    
    ul{
        li{
            &:nth-of-type(1){
                @include span(1 of 5);
            }
            &:nth-of-type(2){
                @include span(1 at 2 of 5);
            }
            &:nth-of-type(3){
                @include span(1 at 3 of 5);
            }
            &:nth-of-type(4){
                @include span(1 at 4 of 5);
            }
            &:nth-of-type(5){
                @include span(1 at 5 of 5);
            }
        }
    }
}

    


/*End series-details layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/



/*Start footer layout @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.footer{
    div{
    @include container($main-width);
    }
}

/*End footer layout @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/






































