//susy configurations
$susy: (
  columns: 12,
  gutters: 0.2,
  //gutter-position: inside,
  global-box-sizing: border-box,
    flow: susy-get(flow)
  //output: isolate
);




/*Start Adv. layout@@@@@@@@@@@@@@@@@@@@@@*/

/*End Adv. layout@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start header layout  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
header{
    
    img{
        @include breakpoint($tablet){
    @include span(1 of 20);
    }
    }
    .site-nav{
        @include breakpoint($tablet){
        @include span(6 at 2 of 20);
        }
        li{
            @include breakpoint($tablet){
            @include span(1 of 7);
            }
        }
    }
    .search-form{
        @include breakpoint($tablet){
        @include span(6 at 8 of 20);
        }
    }
    .profile-nav{
        @include breakpoint($tablet){
        @include span(6 at 15 of 20);
        }
        
        li{
            @include breakpoint($tablet){
            &:first-child{
                @include span(1 of 4);
            }
            &:nth-child(2){
                @include span(1 at 2 of 4);
            }
            &:nth-child(3){
                @include span(1 at 3 of 4);
            }
            &:last-child{
                @include span(1 at 4 of 4);
            }
        }
        }
    }
}

/*End header layout  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*Start home-page layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

    
   

/*End home-page layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start movies layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.movie-sort{
    
        h3{
            
            @include breakpoint($tablet){
               @include span(1 of 2);
            }
            
            
        }
        .movie-sort-list{
            @include breakpoint($tablet){
               @include span(1 at 2 of 2);
            }
            
        }
}

.movies-list{
        li{
            @include breakpoint($tablet){
            @include gallery(1 of 3);
            }
            @include breakpoint($laptop){
            @include gallery(1 of 5);
            }
        }   
    }

/*End movies layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start movies-details layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.movie-details{
    
    
    
        .movie-video{
            @include breakpoint($tablet){
            @include span(1 of 2);
            }
            .movie-team{
                ul{
                        &:nth-of-type(1){
                            
                            @include span(1 of 2);
                            
                        }
                        &:nth-of-type(2){
                            
                            @include span(1 at 2 of 2);
                            
                        }
                    }
                .movie-cast{
                    
                    @include breakpoint($tablet){
                    @include span(1 of 2);
                    }
                    @include breakpoint($laptop){
                    @include span(1 of 3);
                    }
                    
                }
                .movie-producers{
                   
                    @include breakpoint($tablet){
                    @include span(1 at 2 of 2);
                    }
                     @include breakpoint($laptop){
                    @include span(1 at 2 of 3);
                    }
                }
                .movie-directors{
                    
                    @include breakpoint($tablet){
                    @include span(1 of 2);
                    }
                    @include breakpoint($laptop){
                    @include span(1 at 3 of 3);
                    }
                }
            }
        }
        .movie-description{
            @include breakpoint($tablet){
            @include span(1 at 2 of 2);
            }
        }
    
}

/*End movies-details layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start series-details layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.series-sort{
    
        h3{
            @include span(1 of 2);
            @include breakpoint($tablet){
                @include span(1 of 3);
            }
            @include breakpoint($laptop){
                @include span(1 of 4);
            }
        }
        select{
            @include span(1 at 2 of 2);
            @include breakpoint($tablet){
                @include span(1 at 3 of 3);
            }
            @include breakpoint($laptop){
                @include span(1 at 4 of 4);
            }
    }
}

.series{
    
   
        .ep{
            @include breakpoint($tablet){
                @include span(1 of 4);
            }
        }
        .series-details{
            @include breakpoint($tablet){
                @include span(2 at 2 of 4);
            }
            .series-team{
                
                .series-cast, .series-producers, .series-directors{
                    @include breakpoint($tablet){
                        @include span(1 of 2);
                    }
                    
                    ul{
                        &:nth-of-type(1){
                            @include span(1 of 2);
                        }
                        &:nth-of-type(2){
                            @include span(1 at 2 of 2);
                        }
                    }
                    
                }
                
                .series-producers{
                    @include breakpoint($tablet){
                        @include span(1 at 2 of 2);
                    }
                    
                    @include breakpoint($tablet){
                        @include span(1 at 2 of 2);
                    }
                }
                .series-directors{
                    @include breakpoint($tablet){
                        @include span(1 of 2);
                    }
                    
                    @include breakpoint($tablet){
                        @include span(1  at 1 of 2);
                    }
                }
                
                
        }
        }
        .series-adv{
            @include breakpoint($tablet){
                @include span(1 at 4 of 4);
            }
        }
    }
    

    


/*End series-details layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*Start base-elements layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/




/*End base-elements layout@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*Start footer layout @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.footer{
    .footer-links, .social-media, .copyright{
    @include container($main-width);
    }
}

/*End footer layout @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/






































