$header-bk: #363535; //header dark gray
$footer-bk: #ececec; //footer gray 

$primary-fcolor:#fff ; //gray 
$sec-fcolor: #000000;
$third-fcolor: #ead80c;
$fourth-fcolor: #181818;
$fifth-fcolor: #323232;

$cattitle-fsize: 26px;
$subtitle-fsize: 18px;
$title-fsize: 24px;
$main-fsize: 16px;

$body-bk: #ececec;

$main-font: Century Gothic,CenturyGothic,AppleGothic,sans-serif;

$main-width: 800px;

$tablet: 768px;
$laptop: 1000px;
$desktop: 1200px;