$header-bk: #363535; //header dark gray
$footer-bk: #ececec; //footer gray 

$primary-fcolor:#fff ; //gray 
$sec-fcolor: #141414;
$third-fcolor: #ead80c;
$fourth-fcolor: #ececec;
$fifth-fcolor: #323232;
$sixth-fcolor: #a7a7a7;
$seventh-fcolor: #404040;

$cattitle-fsize: 26px;
$subtitle-fsize: 18px;
$title-fsize: 24px;
$main-fsize: 16px;

$body-bk: #181818;

$main-font: 'Raleway', sans-serif;

$main-width: 800px;

$tablet: 768px;
$laptop: 1000px;
$desktop: 1200px;