.base-elements{
    background-color: $sec-fcolor;
    color: $primary-fcolor;
    padding: 50px;
    height: auto;
    
    
    ul{
        @include breakpoint($tablet){ 
        height: 350px;
        }
    }
    h1{
            font-size: 32px;
    }
    h2{
            font-size: 27px;
    }
    h3{
            font-size: 23px;
        }
    h4{
            font-size: 18px;
        }
    h5{
            font-size: 14px;
        }
    h6{
            font-size: 12px;
        }

    .elements-title{
        margin-bottom: 30px;
        img{
            width: 200px;
            height: 200px;
        }
        div{
            padding-top: 30px;
            p{
                font-size: 12px;
            }
        }
    }
    
    .elements-selects{
        margin-bottom: 30px;
        button{
            width: 200px;
            background-color: $third-fcolor;
            border: none;
            padding: 5px;
            a{
                color: $primary-fcolor;
            }
        }
        li:nth-child(4){
            select{
                font-size: 8px;
                height: 20px;
                width: 80px;
            }
        }
    }
    
    .elements-forms{
        margin-bottom: 30px;
        ul{
            
            li{
                margin-bottom: 30px;
                &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4){
                    div{
                        width: 217px;
                        height: 30px;
                        margin-bottom: 15px;
                        &:first-child{
                            
                        }
                        &:nth-child(2){
                            background-color: $fifth-fcolor;
                            input{
                                width: 100%;
                                background-color: transparent;
                                padding: 3px 5px;
                                border: none;
                                outline: none;
                                color: $primary-fcolor;
                            }
                        }
                        &:nth-child(3){
                            background-color: $fifth-fcolor;
                            border:solid 1px $primary-fcolor;
                            input{
                                width: 100%;
                                background-color: transparent;
                                padding: 3px 5px;
                                border: none;
                                outline: none;
                                color: $primary-fcolor;
                            }
                            
                        }
                        &:nth-child(4){
                            background-color: $seventh-fcolor;
                            input{
                                width: 100%;
                                background-color: transparent;
                                padding: 3px 5px;
                                border:none;
                                outline: none;
                                color: $primary-fcolor;
                            }
                        }
                        &:nth-child(5){
                            background-color: $fifth-fcolor;
                            i{
                                margin: auto 7px;
                            }
                            input{
                                background-color: transparent;
                                padding: 3px 5px;
                                border:none;
                                outline: none;
                                color: $primary-fcolor;
                            }
                        }
                        &:last-child{
                            border:solid 1px $primary-fcolor;
                            padding-left: 10px;
                        }
                    }
                }
                &:nth-child(2){
                    div{
                        
                        &:first-child{
                            
                        }
                        &:nth-child(2){
                            input{
                                border-bottom: solid 1px $primary-fcolor;
                            }
                        }
                        &:nth-child(3){
                            background-color: $sixth-fcolor;
                        }
                        &:nth-child(4){
                            border-bottom: solid 1px $primary-fcolor;
                            
                        }
                        &:nth-child(5){
                            
                            i{
                                color: $third-fcolor;
                            }
                        
                        }
                        &:last-child{
                            position: relative;
                            button{
                                background-color: $sixth-fcolor;
                                border: none;
                                position: absolute;
                                right: 0px;
                                width: 30px;
                                height: 100%;
                                a{
                                    color: $sec-fcolor;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3), &:nth-child(4){
                    div{
                        
                        &:first-child{
                            
                        }
                        &:nth-child(2){
                            input{
                                border-bottom: solid 1px #0bef57;
                            }
                        }
                        &:nth-child(3){
                            background-color: $primary-fcolor;
                            border: solid 1px #0bef57;
                        }
                        &:nth-child(4){
                            border-bottom: solid 1px #0bef57;
                            
                        }
                        &:nth-child(5){
                            input{
                                width: 150px;
                            }
                            i{
                                &:first-of-type{
                                    color: $third-fcolor;
                                }
                                &:nth-of-type(2){
                                    color: $primary-fcolor;
                                }
                                
                            }
                        
                        }
                        &:last-child{
                            position: relative;
                            button{
                                background-color: $third-fcolor;
                                border: none;
                                position: absolute;
                                right: 0px;
                                width: 80px;
                                height: 100%;
                                a{
                                    color: $sec-fcolor;
                                }
                            }
                        }
                    }
                }
                &:nth-child(4){
                    div{
                        
                        &:first-child{
                            
                        }
                        &:nth-child(2){
                            input{
                                border-bottom: solid 1px red;
                            }
                        }
                        &:nth-child(3){
                            background-color: $primary-fcolor;
                            border: solid 1px red;
                        }
                        &:nth-child(4){
                            border-bottom: solid 1px red;
                            
                        }
                        &:nth-child(5){
                        
                        }
                        &:last-child{
                            
                            button{
                                width: 30px;
                                a{
                                    color: $primary-fcolor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .elements-buttons{
        margin-bottom: 30px;
        ul{
            @include breakpoint($tablet){
                    height: 700px;
                }
            @include breakpoint($laptop){
                    height: 250px;
                }
            li{
                text-align: center;
                &:first-child{
                    button{
                     width: 217px;
                     height: 40px;
                     margin-bottom: 10px;
                        a{
                            color: $primary-fcolor;
                            i{
                                margin-right: 10px;
                            }
                        }
                        @include breakpoint($tablet){
                            width: 150px;
                        }
                        @include breakpoint($laptop){
                            width: 217px;
                        }
                        
                        &:first-child{
                            background-color: #7654ff;
                            border: none;
                        }
                        &:nth-child(2){
                            background-color: transparent;
                            border: solid 1px $primary-fcolor;
                        }
                        &:nth-child(3){
                            background-color: #29c5f6;
                            border: none;
                        }
                        &:last-child{
                            background-color: transparent;
                            border: solid 1px $primary-fcolor;
                        }
                    }
                }
                &:nth-child(2){
                    div{
                        margin-bottom: 10px;
                        button{
                            background-color: transparent;
                            a{
                                color: $primary-fcolor;
                            }
                                &:first-child{
                                    padding: 10px 20px;
                                    margin-right: 30px;
                                    border: solid 1px $primary-fcolor;
                                    border-radius: 25px;
                                    width: 100px;
                                    height: 40px;
                                    i{
                                        margin-right: 10px;
                                    }
                                }
                                &:last-child{
                                    padding: 10px;
                                    border: solid 1px $primary-fcolor;
                                    border-radius: 50%;
                                    width: 40px;
                                    
                                }
                            }
                        &:first-child{
                           
                        }
                        &:nth-child(2){
                            
                        }
                        &:nth-child(3){
                            button{
                                background-color: #7654ff;
                                border: none;
                            }
                        }
                        &:last-child{
                            button{
                                background-color: #29c5f6;
                                border: none;
                            }
                        }
                    }
                }
                &:last-child{
                    
                    div{
                        
                        &:first-child{
                            
                            i{
                                margin: 20px;
                                &:first-child{
                                    color: $sixth-fcolor;
                                }
                                &:last-child{
                                    color: $primary-fcolor;
                                }
                            }
                        }
                        &:nth-child(2), &:nth-child(3), &:last-child{
                            button{
                                background-color: $sixth-fcolor;
                                border: none;
                                padding: 5px 15px;
                                font-size: 10px;
                                
                                a{
                                    color: $sec-fcolor;
                                }
                            }
                        }
                        &:nth-child(3){
                            button{
                                background-color: $primary-fcolor;
                                
                            }
                        }
                        &:last-child{
                            
                        }
                    }
                }
            }
        }
    }
    
    .heading-sizes{
        
    }
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        width: 200px;
        height: 40px;
        padding: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        background: $sec-fcolor url("img/plus.png") no-repeat 95% 50%;
        
        option{
            background-color: $sixth-fcolor;
            
            
            
        }
        option:before{
    content: ">";
    font-size:20px;
    display:none;
    padding-right:10px;
    padding-left:5px;
    color:#fff;
}
    }
    
}
