.footer{
    text-align: center;
    padding: 50px;
    color: $primary-fcolor;
    background-color: $sec-fcolor;
    a{
        color: $primary-fcolor;
    }
    .social-media{
        a{
            i{
                margin: 5px;
            }
            &:first-child{
                i{
                    &:hover{
                        color: #7654ff;
                    }
                }
            }
            &:last-child{
                i{
                    &:hover{
                        color: green;
                    }
                }
            }
    }
    }
}