/*Start Adv. @@@@@@@@@@@@@@@@@@@@@@*/
.adv{
    text-align: center;
    img{
        width: 300px;
        @include breakpoint($tablet){
        width: auto; 
    }
    }
}
/*End Adv. @@@@@@@@@@@@@@@@@@@@@@@@@*/


/*Start header @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
header{
    padding: 5px;
    text-align: center;
    color: $primary-fcolor;
    background-color: $sec-fcolor;
    a{
        color: $primary-fcolor;
        &:hover{
            color: $third-fcolor;
        }
    }
    @include breakpoint($tablet){
        height: 60px;
        
    }
    img{
        height: 100px;
        width: 100px;
        @include breakpoint($tablet){
            height: 50px;
            width: 50px;
            
        }
    }
    .header-nav{
        @include breakpoint($tablet){
        margin-top: 15px;
        font-size: 8px;
    }
        @include breakpoint($laptop){
        font-size: 10px;
    }
    }
    .search-form{
        @include breakpoint($tablet){
        text-align: left;
        margin-top: 8px;
    }
        input{
            padding-left: 5px;
            background-color: black;
            border: none;
            color: $primary-fcolor;
            @include breakpoint($tablet){
                width: 180px;
            }
            @include breakpoint($laptop){
                width: 250px;
            }
            @include breakpoint($desktop){
                width: 280px;
            }
        }
    }
    .profile-nav{
        
        margin-top: 15px;
        @include breakpoint($tablet){
            font-size: 6px;
        }
        @include breakpoint($laptop){
            font-size: 8px;
        }
        li{
            &:last-child{
                background-color: $fifth-fcolor;
            }
        }
    }
}
/*End header  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
































































