.page-content{
    
    color: $primary-fcolor;

    
    .owl-main{
        position: relative;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            color: #c4c2c2;
            margin-top: 25px;
            height: 0px;
            position: absolute;
            width: 100%;
            top: 5%;
            @include breakpoint($tablet){
                top: 30%;
            }
            @include breakpoint($laptop){
                top: 35%;
            }
            .owl-next{
                float: right;
                background-color: transparent;
            }
            .owl-prev{
                float: left;
                background-color: transparent;
            }
            i{
                padding: 0px 20px;
            }
        }
        .item{
            position: relative;
            
            
            .main-hidden-movies-buttons{
                
                display: none;
                position: absolute;
                top: 8px;
                left: 110px;
                font-size: 13px;
                @include breakpoint($tablet){
                    top: 80px;
                    left: 330px;
                }
                @include breakpoint($laptop){
                    top: 120px;
                    left: 450px;
                    
                }
                @include breakpoint($desktop){
                    top: 150px;
                    left: 550px;
                    
                }
                @include breakpoint(1366px){
                    top: 180px;
                    left: 620px;
                    
                }
                text-align: center;
                button{
                    width: 100px;
                    @include breakpoint($tablet){
                    width: 100px;
                }
                    height: 20px;
                    background-color: $primary-fcolor;
                    border: none;
                    a{
                        color: $fifth-fcolor;
                        
                    }
                }
                input{
                    width: 100px;
                    @include breakpoint($tablet){
                    width: 100px;
                }
                    height: 20px;
                    background-color: $primary-fcolor;
                    border: none;
                }
                a{
                    color: $fourth-fcolor;
                    
                }
            }
        }
    }
    
    .home-slider{
        position: relative;
        .owl-dots{
            display: none;
        }
        .owl-nav{
            padding: 0px;
            position: absolute;
            width: 100%;
            height: 0px;
            top: 0%;
            
            color: #c4c2c2;
            
            
            
        
            .owl-next, .owl-prev{
                height: 160px;
                @include breakpoint($tablet){
                    height: 203px;
                }
                @include breakpoint($laptop){
                    height: 103px;
                }
                @include breakpoint($desktop){
                    height: 128px;
                }
                @include breakpoint(1366px){
                    height: 142px;
                }
                
                padding-top: 50px;
                @include breakpoint($tablet){
                    padding-top: 80px;
                }
                @include breakpoint($laptop){
                    padding-top: 30px;
                }
                @include breakpoint($desktop){
                    padding-top: 45px;
                }
                padding-right: 5px;
                padding-left: 5px;
                &:hover{
                    background-color: $sec-fcolor;
                    opacity: 0.5;
                }
            }
            .owl-next{
                float: right;
                background-color: transparent;
            }
            .owl-prev{
                float: left;
                background-color: transparent;
            }
        }
    }

    .home-page-lists{
        padding: 20px;
        background-color: transparent;
        
        h5{
            color: $sixth-fcolor;
            font-size: 12px;
        }
        
        .movie{
            position: relative;
            z-index: 0;
            
            .hidden-movies-buttons{
                
                display: none;
                position: absolute;
                top: 25px;
                left: 80px;
                @include breakpoint($tablet){
                    top: 50px;
                    left: 120px;
                }
                @include breakpoint($laptop){
                    top: 5px;
                    left: 40px;
                    
                }
                @include breakpoint($desktop){
                    top: 15px;
                    left: 65px;
                    
                }
                @include breakpoint(1366px){
                    top: 20px;
                    left: 80px;
                    
                }
                text-align: center;
                button{
                    width: 120px;
                    @include breakpoint($tablet){
                    width: 100px;
                }
                    height: 20px;
                    background-color: $primary-fcolor;
                    border: none;
                    a{
                        color: $fifth-fcolor;
                        opacity: 1;
                    }
                }
                input{
                    width: 120px;
                    @include breakpoint($tablet){
                    width: 100px;
                }
                    height: 20px;
                    background-color: $primary-fcolor;
                    border: none;
                }
                a{
                    color: $fourth-fcolor;
                    opacity: 0.5;
                }
            }
        }
        
        h3{
            font-size: 12px;
        }
        
        
    }
    
    
    
}












