.login-form{
    background-color: $fifth-fcolor;
    text-align: center;
    color: $primary-fcolor;
    padding: 20px 10px;
    @include breakpoint($tablet){
        height: 367px;
    }
    
        .login-title{
            background-color: $sec-fcolor;
            padding: 10px;
            margin-bottom: 10px;
            color: white;
        }
    label, input{
        display: block;
        @include container($main-width);
    }
            
    }