.login-form{
   @include container(200px);
    
    color: $primary-fcolor;
    input:last-child{
        background-color: $seventh-fcolor;
        color: $primary-fcolor;
        width: 80px;
        height: 30px;
    }
    .error{
        display: block;
        text-align: center;
    }
    }