body{
    position: relative;
    
}
.movie-sort{
    padding: 20px;
    color: $primary-fcolor;
    background-color: $fifth-fcolor;
    height: 80px;
    
    @include breakpoint($tablet){
        height: 60px;
    }
    li{
        a{
            color: $primary-fcolor;
            &:hover{
                color: $third-fcolor;
            }
        }
    }
    
    h3{
        font-size: 10px;
    }
    .movie-sort-list{
        li{
            text-align: center;
            font-size: 10px;
        }
    }
}
    
.hidden-lists{

    padding: 0px 20px;
    width: 100%;
    height: 0px;
    z-index: 1;
    position: absolute;

    top: 600px;
    @include breakpoint($tablet){
           top: 165px;
        }
    >ul{

        >li{
            text-align: center;
            font-size: 10px;
            a{
                color: $primary-fcolor;
                &:hover{
                    color: $third-fcolor;
                }
            }
        }
        .featured-list, .a-z-list, .just-added-list, .top-list{
            display: none;
            font-size: 10px;
            background-color: $fifth-fcolor;
            padding: 5px;
            text-align: center;
            @include breakpoint($tablet){

                font-size: 12px;
            }
            @include breakpoint($laptop){

                font-size: 12px;
            }
            @include breakpoint($desktop){

                font-size: 12px;
            }
            @include breakpoint(1366px){

                font-size: 12px;
            }
        }
        

    }
}
  

    .plus{
        background-color: $sec-fcolor;
        border: none;
        padding: 5px;
        font-size: 9px;
        margin-right: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 90px;
            margin-bottom: 0px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/plus.png") no-repeat 95% 50%;
    }
    .minus{
        background-color: $sec-fcolor;
        border: none;
        padding: 5px;
        font-size: 9px;
        margin-right: 5px;
        margin-bottom: 3px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 90px;
            margin-bottom: 0px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/minus.png") no-repeat 95% 50%;
    }


.movies-list{
    
    overflow: hidden;
    color: $primary-fcolor;
    padding: 20px;
    li{
        text-align: center;
        position: relative;
        z-index: 0;
        @include breakpoint($tablet){
            text-align: left;
        }
        margin-bottom: 10px;
        h3{
            margin-top: -12px;
            font-size: 10px;
        }
        .hidden-movies-buttons{
                
            display: none;
            position: absolute;
            font-size: 12px;
            top: 13px;
            left: 95px;
            @include breakpoint($tablet){
                
                left: 35px;
            }
            @include breakpoint($laptop){
                
                left: 40px;
            }
            @include breakpoint($desktop){
                top: 15px;
            }
            
            text-align: center;
            button{
                width: 100px;
                @include breakpoint($tablet){
                width: 100px;
            }
                height: 20px;
                background-color: $primary-fcolor;
                border: none;
                a{
                    color: $fifth-fcolor;
                    opacity: 1;
                }
            }
            input{
                width: 100px;
                @include breakpoint($tablet){
                width: 100px;
            }
                height: 20px;
                background-color: $primary-fcolor;
                border: none;
            }
            a{
                color: $fourth-fcolor;
                opacity: 0.5;
            }
        }
    }
}