.movies-lists{
    padding: 20px;
    background-color: $fourth-fcolor;
    color: $primary-fcolor;
    font-size: 7px;
    @include breakpoint($tablet){
        height: 1050px;
        font-size: 10px;
    }
    
    ul{
        height: 100px;
        margin: 10px;
        @include breakpoint($tablet){
                    height: 200px;
                    
                }
        div{
            color: grey;
        }
        li{
            img{
                width: 60px;
                height: 50px;
                @include breakpoint($tablet){
                    width: 140px;
                    height: 100px;
                }
                @include breakpoint($laptop){
                    width: 190px;
                    height: auto;
                }
                @include breakpoint($desktop){
                    width: 220px;
                    height: auto;
                }
            }
        }
    }
}