.series-sort{
    padding: 20px;
    height: 60px;
    color: $primary-fcolor;
    background-color: $fifth-fcolor;
    h3{
        
        font-size: 8px;
        @include breakpoint($tablet){
            font-size: 10px;
        }
    }
    .plus{
        background-color: $sec-fcolor;
        border: none;
        padding: 5px;
        font-size: 10px;
        margin-right: 5px;
        color: $primary-fcolor;
        width: 80px;
        @include breakpoint($tablet){
            width: 200px;
        }
        -webkit-appearance: none;
        background: $sec-fcolor url("img/plus.png") no-repeat 95% 50%;
    }
    .minus{
            background-color: $sec-fcolor;
            border: none;
            padding: 5px;
            font-size: 10px;
            margin-right: 5px;
            color: $primary-fcolor;
            width: 80px;
            @include breakpoint($tablet){
                width: 200px;
            }
            -webkit-appearance: none;
            background: $sec-fcolor url("img/minus.png") no-repeat 95% 50%;
            }
}

.series{
    overflow: hidden;
    padding: 20px;
    background-color: transparent;
    color: $primary-fcolor;
        .ep{
            .ep-list{
                li{
                    i{
                        margin: 10px;
                        color: $seventh-fcolor;
                        &:hover{
                            color: $primary-fcolor;
                        }
                    }
                    .fa-facebook-f{
                        color: $primary-fcolor;
                        &:hover{
                            color: #7654ff;
                        }
                    }
                    .fa-twitter{
                        color: $primary-fcolor;
                        &:hover{
                            color: #29c5f6;
                        }
                    }
                    .fa-instagram{
                        color: $primary-fcolor;
                        &:hover{
                            color: #e8590c;
                        }
                    }
                    .ep-number{
                        a{
                            color: $primary-fcolor;
                            &:hover{
                            color: $third-fcolor;
                            }
                        }
                        
                    }
                    span{
                        
                        .ep-social{
                            display: none;
                            padding: 3px 10px;
                            background-color: $seventh-fcolor;
                            border-radius: 20px;
                        }
                        .ep-social-visible{
                            visibility: visible;
                        }
                    }
                }
            }
        }
        .series-details{
            margin: 30px auto;
            .title{
                font-size: 20px;
            }
            h3{
                font-size: 16px;
            }
            .description{
                font-size: 11px;
            }
            span{
                 
            }
            .social-icons{
                a{
                    i{
                        color: grey;
                        border: solid 1px grey;
                        border-radius: 50%;
                        padding: 10px 15px;
                    }
                    &:first-child{
                        i{
                            &:hover{
                                color: #7654ff;
                                border: solid 1px #7654ff;
                            }
                        }
                    }
                    &:last-child{
                        i{
                            padding: 10px;
                            &:hover{
                                color: #29c5f6;
                                border: solid 1px #29c5f6;
                            }
                            }
                        }
                    }
                }
        }
            
            .series-team{
                .series-cast, .series-producers, .series-directors{
                ul{
                    li{
                        color: $sixth-fcolor;
                        font-size: 10px;
                        @include breakpoint($tablet){
                            font-size: 8px;
                        }
                        @include breakpoint($laptop){
                            font-size: 7px;
                        }
                            @include breakpoint($desktop){
                            font-size: 9px;
                        }
                    }
                    &:nth-of-type(1){
                    li{
                        font-weight: bold;
                        color: $primary-fcolor;
                    }
                }
                }
                
                h3{
                    margin: 6px auto;
                    font-size: 12px; 
            }
            }
        }
        
}



























